* text=auto

.*  eol=lf
*.* eol=lf

# Binary files
*.dat binary
*.dll binary
*.exe binary
*.ico binary
*.jar binary
*.jpg binary
*.ogg binary
*.so binary

# NPC recordings are binary files
*.rec binary

# Extensionless binary files
announce binary
samp-npc binary
samp03svr binary
tools/pawn/pawncc
