/server.cfg
/crashinfo.txt
/*_log.txt
*.log
*.ppk
*.amx
includes/grgserver/main.inc

/.vagrant/

# Created by IDEs and other editors
*.idea
*.iml
.vscode

# OS stuff
desktop.ini
.DS_Store
$RECYCLE.BIN