[Unit]
Description=SAMP
After=network.target network-online.target
Wants=network-online.target

[Service]
User=vagrant
WorkingDirectory=/opt/samp
Environment=GRG_AUDIO_URL=http://localhost:8080/audio
ExecStart=/opt/samp/samp03svr
Restart=on-failure

[Install]
WantedBy=multi-user.target